body{
  background: #0C172B;
  color: white;
}
.container{
  display: flex;

}
.fields{
  color: white;
  top: 60%;
  margin: 0 100px 100px 0;
  display: flex;
  justify-content: space-between;
}
input{
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px;
  border-color: #45ffba;
  border-image: none;    -webkit-rtl-ordering: none;

  background-color: rgba(255, 255, 255, 0.9);
}
button{
  max-height: 50px;
  min-width: 150px;
  border-radius: 25px;
  background-color: rgba(255, 45, 45, 0.5);
}
.triangle{
  display: flex;
  top: 40%;
  left: 50%;
  position: absolute;
  width: 600px;
  height: 400px;
  transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
  overflow: hidden;
}
.triangle::before
{
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform-origin: bottom left;
  border: 2px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  background: #29ed9a;
}
