body{
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  column-count: 3;
  column-gap: 20px;
  text-align: center;
  background-color: #040d26;
  color: white;
}

.triangle{
  top:30%;
  left: 50%;
  position: absolute;
  width: 600px;
  height: 400px;
  transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
  overflow: hidden;
}
.triangle::before
{
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform-origin: bottom left;
  border: 2px solid #fff;
  position: absolute;
  transform: rotate(45deg);
  background: #29ed9a;
}
#fields{
  bottom : 80
}
button {
    border-bottom-style: none;
    margin: 20px;
    padding: 5px 30px;
    border-radius: 20px;
    border-right-style: none;
}
input{
  border-top-style: none;
  margin: 20px;
  padding: 5px 30px;
  border-radius: 20px;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}
#triangle{
    margin-bottom: 30px;
    column-span: all;
    display: flex;
    justify-content: start;
}
.output{
  top:-20%;
  left:50%;
  font-size: 200px;
}
#outcome{
  color: white;
}
